.animal-wrapper {
	// Why 90 ? Navbar is 10 vh
	height: 90vh;
	display: flex;

	&__text {
		width: 40%;
		align-self: center;
		justify-content: center;
		margin-left: 5px;
	}
	&__img {
		width: 60%;

	&__img > img {
		height: 100%;
		width: 100%;
		object-fit: cover;

	}
	&__status {
		display: flex;
		align-items: center;
		font-family: "Raleway", sans-serif;
		font-size: 20px;
		color: #7f8082;
		margin: 15px 0px;
		text-transform: uppercase;
	}
	&__title {
		font-size: 65px;
		text-transform: uppercase;
		&__smaller {
			font-size: 45px;
		}
	}
}
.line {
	flex-basis: 86px;

	border-bottom: 2px solid #2a2e32;
	z-index: 2;
	margin: 20px;
}