.animal-wrapper {
	// Why 90 ? Navbar is 10 vh
	height: 90vh;
	display: flex;
	&__header {
		height: 50px;
		width: 300px;
		position: absolute;
		ul {
			display: flex;
			justify-content: space-between;
			font-family: "Raleway", sans-serif;
			font-size: 12px;
			margin-left: 40px;
			color: #777777;
			&:nth-child(2) {
				color: white;
			}
			// The orange box
			div {
				width: 48px;
				height: 10px;
				background-color: #e67e37;
				opacity: 0.5;
				position: absolute;
			}
		}
	}

	&__video {
		margin-left: 40px;
		margin-bottom: 20px;
		position: absolute;
		bottom: 0;
		a {
			font-family: "Raleway", sans-serif;
			font-size: 18px;
			color: #ffffff;
			opacity: 0.5;
			display: flex;
			flex-direction: column;
			transition: ease 1s;
			&:hover {
				opacity: 1;
			}
			i {
				margin: 10px auto auto auto;
				font-size: 30px;
			}
		}
	}

	&__text {
		width: 40%;
		align-self: center;
		justify-content: center;
		margin-left: 5px;
	}
	&__img {
		width: 60%;
		z-index: -3;
		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}
	&__statut {
		display: flex;
		align-items: center;
		font-family: "Raleway", sans-serif;
		font-size: 20px;
		color: #7f8082;
		margin: 15px 0px;
		text-transform: uppercase;
	}
	&__title {
		font-size: 65px;
		text-transform: uppercase;
		&__smaller {
			font-size: 45px;
		}
	}
	.line {
		flex-basis: 86px;
		border-bottom: 2px solid #2a2e32;
		margin: 20px;
	}
}
@media (max-width: 1000px) {
	.animal-wrapper {
		&__text {
			position: absolute; /* postulat de départ */
			top: 50%;
			left: 30%; /* à 50%/50% du parent référent */
			transform: translate(
				-50%,
				-50%
			); /* décalage de 50% de sa propre taille */
		}
	}
}
