$navbarHeight: 10vh;
.wrapperAnimal {
	&__home {
		height: 80vh;
		position: relative;
		/* Header */
		&__header {
			height: 50px;
			width: 340px;
			position: absolute;
			ul {
				display: flex;
				justify-content: space-between;
				font-family: "Raleway", sans-serif;
				font-size: 12px;
				margin-left: 40px;
				color: #777777;
				&:nth-child(2) {
					color: white;
				}
				// The orange box
				div {
					width: 48px;
					height: 10px;
					background-color: #e67e37;
					opacity: 0.5;
					position: absolute;
				}
			}
		}
		/* Content */
		&__content {
			height: 100%;
			display: grid;
			grid-template-columns: 1fr 1.2fr;
			&__text {
				align-self: center;
				&__statut {
					display: flex;
					align-items: center;
					font-family: "Raleway", sans-serif;
					font-size: 20px;
					color: #7f8082;
					margin: 30px 0px;
					text-transform: uppercase;
				}
				&__title {
					font-size: 65px;
					text-transform: uppercase;
					&__smaller {
						font-size: 45px;
					}
				}
			}
			&__img {
				img {
					height: 100%;
					width: 100%;
					object-fit: cover;
				}
			}
			.line {
				flex-basis: 86px;
				border-bottom: 2px solid #2a2e32;
				margin: 20px;
			}
		}
		/* Footer */
		&__footer {
			display: flex;
			justify-content: space-between;
			align-items: center;
			// Margin on the footer childs
			* {
				margin: 0 10px;
			}
			&__video {
				a {
					font-family: "Raleway", sans-serif;
					font-size: 15px;
					color: #ffffff;
					opacity: 0.5;
					display: flex;
					flex-direction: column;
					transition: ease 1s;
					&:hover {
						opacity: 1;
					}
					i {
						margin: 10px auto auto auto;
						font-size: 25px;
					}
				}
			}
			&__mouse {
				transform: translateX(-50%);
				&__mouse-icon {
					width: 16px;
					height: 30px;
					border: 2px solid white;
					border-radius: 15px;
					margin: 0 auto;
					position: relative;
					text-align: center;
					&__mouse-wheel {
						height: 6px;
						margin: 2px auto 0;
						display: block;
						width: 3px;
						background-color: white;
						border-radius: 50%;
						-webkit-animation: 1.6s ease infinite wheel-up-down;
						-moz-animation: 1.6s ease infinite wheel-up-down;
						animation: 1.6s ease infinite wheel-up-down;
					}
				}
			}
		}
	}
	&__habitat {
		.dotColored {
			color: #e67e37;
		}
		height: 800px;
		display: block;
		margin-top: 60px;
		&__header {
			font-weight: bold;
			font-size: 197px;
			text-align: center;
		}
		&__content {
			height: 530px;
			display: flex;

			&__map {
				width: 818px;
				height: 530px;
				position: absolute;
				right: 0;
				margin-right: 150px;

				z-index: -1;
			}
			&__text {
				align-self: center;
				margin-top: 120px;
				display: flex;

				&__main {
					width: 466px;
					font-family: "Raleway";
					font-size: 18px;
					align-self: center;
				}
				&__side {
					align-self: center;
					transform: rotate(-90deg);
					font-weight: bold;
					font-size: 23px;
					width: 174px;
					margin-right: -20px;
					border-bottom: 5px solid #888e94;
					padding-bottom: 25px;
					text-align: justify;
				}
			}
		}
	}
}
/* MOUSE */
@-webkit-keyframes wheel-up-down {
	0% {
		margin-top: 2px;
		opacity: 0;
	}
	30% {
		opacity: 1;
	}
	100% {
		margin-top: 20px;
		opacity: 0;
	}
}
@-moz-keyframes wheel-up-down {
	0% {
		margin-top: 2px;
		opacity: 0;
	}
	30% {
		opacity: 1;
	}
	100% {
		margin-top: 20px;
		opacity: 0;
	}
}
@keyframes wheel-up-down {
	0% {
		margin-top: 2px;
		opacity: 0;
	}
	30% {
		opacity: 1;
	}
	100% {
		margin-top: 20px;
		opacity: 0;
	}
}
