.grid-menu {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	//grid-template-rows: repeat(2, 1fr);
	//grid-auto-rows: min-content;
	grid-gap: 30px;
	margin: 30px;
	user-select: none;

	/* Each IMG's size */
	&__items > img {
		height: auto;
		width: 100%;
		z-index: -2;
		// Fix temporaire pour chrome
		object-fit: cover;
	}

	/* Each box */
	&__items {
		display: flex;
		transition: 0.2s;
		filter: opacity(60%);
	}
	&__items:hover {
		outline: 7px solid #e67e37;
		outline-offset: -7px;
		filter: none;
	}
	/* Each animal's name */
	&__name {
		display: none;
	}
	&__items:hover > &__name {
		display: block;
	}
	&__name {
		align-self: flex-end;
		padding-bottom: 15px;
		font-size: 18px;
		font-weight: 400;
	}
	&__name,
	&__number {
		position: absolute;
		color: white;
		font-family: Raleway;
		margin-left: 25px;
		letter-spacing: 5px;
	}
	/* Each animal's number */
	&__number {
		margin-top: 15px;
		font-size: 24px;
		font-weight: 700;
	}
}

@media screen and (max-width: 640px) {
	.grid-menu {
		grid-template-columns: 1fr 1fr;
	}
}

@media screen and (max-width: 400px) {
	.grid-menu {
		grid-template-columns: 1fr;
	}
}
