/** Syntaxe BEM

HTML:

<div class="parent">
  <p class="parent__child-element">Je suis un élément enfant</p>
  <p class="parent__child-element-2">Moi aussi</p>
</div>


SASS:

.parent {
  &__child-element {
    color: red;
  }
  &__child-element-2 {
    color: blue
  }
}


*/

$h1: 55px;
$h2: 45px;
$h3: 35px;
$h4: 30px;
$h5: 25px;

$h1-lh: 70px;
$current-fz: 20px;
$current-lh: 32px;
$primary-font:'Didot';
$primary-color:white;
$primary-back-color:#010101;
$button-color: #e67e37;

@import 'ball-mouse';
@import 'header';
@import 'page-template';
@import 'grid-menu';
@import 'home-slider';
@import '404';
@import 'hamburgers/hamburgers.scss';
@import 'hamburgers/_base.scss';
@import 'hamburgers/types/_slider.scss';
@import 'hamburgers/types/_slider-r.scss';



body {
	background: $primary-back-color;
	color: $primary-color;
	font-family: $primary-font;
}
