/** Syntaxe BEM

HTML:

<div class="parent">
  <p class="parent__child-element">Je suis un élément enfant</p>
  <p class="parent__child-element-2">Moi aussi</p>
</div>


SASS:

.parent {
  &__child-element {
    color: red;
  }
  &__child-element-2 {
    color: blue
  }
}


*/


body {
	background: #000;
}


.wrap {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;

	&__ball {
		width: 60px;
		height: 60px;
		background: none;
		border: 1px solid grey;
		border-radius: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -10px 0 0 -10px;
		pointer-events: none;
		transition: width .4s ease, height .4s ease;
	}
}

.header {
	color:white;
	font-family: 'Raleway', sans-serif;
	display:flex;
	justify-content:space-between;
	align-items:center;

	&__logo {
		font-weight:700;
		font-size:18px;
		flex-grow:2;
	}
	&__links, &__search {
		font-weight:400;
		font-size:14px;
	}
	&__links {
		padding:0px 35px;
	}
	&__search {
		flex-grow:2;
		text-align:end;
	}
}

.header > p {
	border:2px solid red;
}
.header {
	border:2px solid blue;
}