.custom-home-page {
	height: 90vh;
	margin: 0 40px;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: auto;
	grid-gap: 30px;
	align-content:center;
	overflow-y: hidden;

	&__title {
		font-size: $h1;
		line-height: $h1-lh;
		grid-column-start: 1;
		grid-column-end: 6;
	}
	&__subtitle {
		font-size: $current-fz;
		grid-column-start: 1;
		grid-column-end: 5;
		line-height: $current-lh;
	}
	&__button {
		font-size: $current-fz;
		grid-column-start: 1;
		grid-column-end: 4;
		height: 50px;
		background: $button-color;
		cursor: pointer;
		text-shadow: 0px -1px #333;
		border-bottom: 2px solid rgba(0, 0, 0, .5);
		border-radius: 5px;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: background-color .2s;
		&:hover {
			background-color: darken($button-color, 5%);
		}
		&:active {
			transform: translate(0px,2px);
		}
		&__line {
			display: inline-block;
			background: white;
			width: 50px;
			height: 1px;
			margin-left: 15px;
			box-shadow: 0px -1px #333;
		}
	}
	&__catch {
		font-size: $current-fz;
		grid-column-start: -1;
		grid-column-end: -4;
		grid-row-start: 5;
		justify-self: end;
		align-self: end;
	}
}


