.custom-home-page {
	max-width: 90vw;
	height: 90vh;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(12, 1fr); // 12 columns
	grid-template-rows: repeat(3, minmax(100px, auto));
	grid-gap: 10px;
	align-content:center;

	&__title {
		font-size: $h1;
		grid-column-start: 1;
		grid-column-end: 6;
	}
	&__subtitle {
		font-size: $current-fz;
		grid-column-start: 1;
		grid-column-end: 5;
	}
	&__button {
		grid-column-start: 1;
		width: 100px;
		height: 30px;
	}
	&__catch {
		grid-column-start: -1;
		grid-column-end: -4;
		justify-self: end;
		align-self: end;
	}
}


