.RegionPage {
	display: grid;
	font-family: $secondary-font;
	margin: 0 40px 50px 40px;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(4, minmax(50px, auto));
	grid-gap: 30px;
	align-content: center;
	&__main-picture {
		grid-column: 1 / 13;
		width: 100vw;
		height: 100vh;
		margin: 0 -40px;
		object-fit: cover;
	}
	.wrapperRegion {
		&__home {
			height: 80vh;
			position: relative;
			/* Header */
			&__header {
				height: 50px;
				width: 320px;
				position: absolute;
				ul {
					display: flex;
					justify-content: space-between;
					font-family: "Raleway", sans-serif;
					font-size: 12px;
					margin-left: 40px;
					color: #777777;
					&:nth-child(2) {
						color: white;
					}
					// The orange box
					div {
						width: 48px;
						height: 10px;
						background-color: #e67e37;
						opacity: 0.5;
						position: absolute;
					}
				}
			}
		}
	}
	&__title {
		font-family: $primary-font;
		grid-column: 1 / 12;
		grid-row-start: 2;
		position: relative;
		height: 200px;
		top: -250px;
		margin-left: -40px;
		margin-right: -40px;
		margin-bottom: -250px;
		opacity: .5;
		> h1 {
			font-size: 160px;
			position: absolute;
			top: 0;
			left: 40px;
			> span {
				color: $button-color;
			}
		}
	}
	&__data-line, &__climate-fact-line {
		grid-column: 1 / 3;
		height: 1px;
		align-self: center;
		background-color: white;
	}
	&__data-subtitle, &__climate-fact-subtitle {
		grid-column: 3 / 12;
		display: flex;
		align-items: center;
		font-size: 25px;
		line-height: 120%;
	}
	&__data-line {
		grid-row: 2;
	}
	&__data-subtitle {
		margin-top: 0;
		grid-row: 2;
	}
	&__climate-fact-subtitle {
		margin-top: 40px;
	}
	&__location {
		> i {
			margin-bottom: 20px;
		}
		grid-column: 2 / 5;
		line-height: 120%;
		> h4 {
			font-weight: bold;
			margin-bottom: 12px;
			> span {
				color: $button-color;
			}
		}
	}
	&__area {
		> i {
			margin-bottom: 20px;
		}
		grid-column: 6 / 9;
		line-height: 120%;
		> h4 {
			font-weight: bold;
			margin-bottom: 12px;
			> span {
				color: $button-color;
			}
		}
	}
	&__climate {
		> i {
			margin-bottom: 20px;
		}
		grid-column: 10 / 13;
		line-height: 120%;
		> h4 {
			font-weight: bold;
			margin-bottom: 12px;
			> span {
				color: $button-color;
			}
		}
	}
	&__region-subtitle {
		grid-column: 1 / 13;
		font-size: $h1;
		margin: 100px 0;
	}
	&__region-text {
		grid-column: 2 / 9;
		position: relative;
		display: flex;
		align-items: center;
		line-height: 120%;
		> p:nth-child(1) {
			border-left: 1px solid white;
			padding-left: 20px;
		}
		> span:nth-child(2) {
			transform-origin: 50% 50%;
			position: absolute;
			top: 50%;
			left: -80px;
			transform: translateY(-50%) rotate(-90deg);
		}
	}
	&__region-picture {
		grid-column: 9 / 13;
		width: 100%;
		height: 300px;
		position: relative;
		> img:nth-child(1) {
			width: 100%;
			height: 100%;
			object-fit: cover;
			position: absolute;
			top: 0;
			right: -40px;
		}
	}
	&__climate-subtitle-1 {
		grid-column: 1 / 13;
		margin-top: 140px;
		font-size: 120px;
		font-family: $primary-font;
		opacity: 0.5;
	}
	&__climate-subtitle-2 {
		grid-column: 6 / 13;
		font-size: 120px;
		font-family: $primary-font;
		opacity: 0.5;
		> span {
			color: $button-color;
		}
	}
	&__temperature-images {
		grid-column: 1 / 7;
		position: relative;
		margin-left: -40px;
		> img:nth-child(1) {
			position: absolute;
			width: 400px;
			height: 200px;
			top: 0;
			left: 0;
			opacity: 0.5;
		}
		> img:nth-child(2) {
			position: absolute;
			top: 200px;
			left: 400px;
			width: 200px;
			height: 120px;
			opacity: 0.5;
		}
		&__badfact {
			width: 400px;
			padding: 20px;
			text-align: center;
			position: absolute;
			top: 260px;
			line-height: 120%;
			transform: translateY(-50%);
			> p:nth-child(1) {
				font-weight: bold;
				color: $button-color;
				margin-bottom: 10px;
			}
		}
	}
	&__temperature-text {
		grid-column: 7 / 12;
		z-index: 0;
		line-height: 120%;
	}
	&__species-title {
		grid-column: 4 / 10;
		display: flex;
		justify-content: center;
		margin-top: 120px;
		margin-bottom: 50px;
		font-weight: bold;
		> span:nth-child(1) {
			color: $button-color;
		}
	}
	&__species-picture, &__species-text {
		margin: 0 auto;
		text-align: center;
	}
	&__species-text {
		width: 200px;
		padding: 10px 20px;
		background-color: $button-color;
		cursor: pointer;
	}
	&__species-picture-1,
	&__species-picture-2,
	&__species-picture-3,
	&__species-picture-4 {
		width: 200px;
		height: 200px;
	}
	&__species-picture-1,
	&__species-text-1 {
		grid-column: 1 / 4;
	}
	&__species-picture-2,
	&__species-text-2 {
		grid-column: 4 / 7;
	}
	&__species-picture-3,
	&__species-text-3 {
		grid-column: 7 / 10;
	}
	&__species-picture-4,
	&__species-text-4 {
		grid-column: 10 / 13;
	}
}


// Lazyloading
.js-lazyload img {
	opacity: 0;
	transition: opacity 1s;
	will-change: opacity;
}
.js-lazyload.loaded img {
	opacity: 1;
}


/**
* Responsive
*/

@media (max-width: 1200px) {
	.RegionPage {
		&__title {
			h1:nth-child(1) {
				font-size: 110px;
			}
		}
		&__climate-subtitle-1, &__climate-subtitle-2 {
			font-size: 80px;
		}
	}
}

@media (max-width: 950px) {
	.RegionPage {
		&__species-picture-1 {
			grid-row: 12;
		}
		&__species-text-1 {
			grid-row: 13;
		}
		&__species-picture-1,
		&__species-text-1 {
			grid-column: 1 / 7;
		}
		&__species-picture-2 {
			grid-row: 12;
		}
		&__species-text-2 {
			grid-row: 13;
		}
		&__species-picture-2,
		&__species-text-2 {
			grid-column: 7 / 13;
		}
		&__species-picture-3,
		&__species-text-3 {
			grid-column: 1 / 7;
		}
		&__species-picture-4,
		&__species-text-4 {
			grid-column: 7 / 13;
		}
	}
}

@media (max-width: 850px) {
	.RegionPage {
		&__title {
			h1:nth-child(1) {
				font-size: 90px;
				left: -10px;
			}
		}
		&__climate-subtitle-1, &__climate-subtitle-2 {
			font-size: 60px;
		}
	}
}

@media (max-width: 700px) {
	.RegionPage {
		&__title {
			h1:nth-child(1) {
				font-size: 70px;
			}
		}
		.wrapperRegion {
			&__home {
				&__header {
					display: none;
				}
			}
		}
		&__climate-subtitle-1, &__climate-subtitle-2 {
			font-size: 40px;
		}
		&__location {
			grid-column: 1 / 13;
			line-height: 120%;
			> h4 {
				font-weight: bold;
				margin-bottom: 12px;
				> span {
					color: $button-color;
				}
			}
		}
		&__area {
			grid-column: 1 / 13;
			line-height: 120%;
			> h4 {
				font-weight: bold;
				margin-bottom: 12px;
				> span {
					color: $button-color;
				}
			}
		}
		&__climate {
			grid-column: 1 / 13;
			line-height: 120%;
			> h4 {
				font-weight: bold;
				margin-bottom: 12px;
				> span {
					color: $button-color;
				}
			}
		}
		&__region-text {
			grid-column: 2 / 13;
			display: none;
		}
		&__region-picture {
			display: none;
		}
	}
}

@media (max-width: 500px) {
	.RegionPage {
		font-size: 18px;
		&__title {
			h1:nth-child(1) {
				font-size: 50px;
				margin-left: 20px;
				left: 0px;
			}
		}
		&__region-text {
			grid-column: 1 / 13;
			padding-left: 0;
			> span {
				display: none;
			}
			> p:nth-child(1) {
				border-left: none;
			}
		}
		&__climate-fact-subtitle {
			grid-row: 11;
		}
		&__temperature-text {
			grid-column: 7 / 12;
			z-index: 0;
			grid-row: 12;
			line-height: 120%;
		}
		&__temperature-text {
			grid-column: 1 / 13;
			grid-row: 13;
		}
		&__species-title {
			grid-row: 14;
		}
		&__climate-subtitle-1, &__climate-subtitle-2 {
			font-size: 30px;
		}
		&__species-picture-1 {
			grid-row: 15;
		}
		&__species-text-1 {
			grid-row: 16;
		}
		&__species-picture-1,
		&__species-text-1 {
			grid-column: 1 / 13;
		}
		&__species-picture-2 {
			grid-row: 17;
		}
		&__species-text-2 {
			grid-row: 18;
		}
		&__species-picture-2,
		&__species-text-2 {
			grid-column: 1 / 13;
		}
		&__species-picture-3 {
			grid-row: 19;
		}
		&__species-text-3 {
			grid-row: 20;
		}
		&__species-picture-3,
		&__species-text-3 {
			grid-column: 1 / 13;
		}
		&__species-picture-4 {
			grid-row: 21;
		}
		&__species-text-4 {
			grid-row: 22;
		}
		&__species-picture-4,
		&__species-text-4 {
			grid-column: 1 / 13;
		}
		&__temperature-images {
			display: none;
		}
	}
}

@media (max-width: 430px) {
	.RegionPage {
		grid-column-gap: 0px;
		grid-row-gap: 30px;
		&__title {
			h1:nth-child(1) {
				font-size: 50px;
				line-height: 80px;
			}
		}
		&__climate-subtitle-1 {
			margin-top: 20px;
		}
		&__climate-subtitle-1, &__climate-subtitle-2 {
			font-size: 30px;
		}
		&__data-subtitle, &__climate-fact-subtitle {
			grid-column: 3 / 12;
			display: flex;
			align-items: center;
			margin: 40px 0 40px 10px;
			font-size: 15px;
			line-height: 120%;
		}
		&__region-subtitle {
			grid-column: 1 / 13;
			font-size: 15px;
			margin: 50px 0;
		}
		&__region-text {
			> span:nth-child(2) {
				left: -60px;
			}
		}
		&__species-title {
			margin: 50px 0 20px 0;
		}
	}
}
